<div class="about-main" align="center">
  <h2>タダカシとは</h2>
  <p>
    家の中に使ってないものはありませんか？<br>
    「あなたが使ってないもの」と、「あなたが今使いたいもの」を繋げるSNSサービスです。<br>
    タダで貸し借りできる品物を投稿して、他のユーザーとシェアできます。<br>
    他ユーザーが使いたいものがあると、あなたは無料でたくさんの物が使えるようになりますよ。
  </p>
  <img class="about-img" src="/gift.jpg">
  <br>
  <br>
  <br>
  <h2>使い方は？</h2>
  <p>
    使い方は簡単です。貸していいものを投稿し、<br>
    借りたい人からのコメントが来たら渡す場所か郵送先を決めましょう。<br>
  </p>
  <img class="about-img" src="/postexample.jpg">
  <br>
  <img class="about-img" src="/commentexample.jpg">
</div>
