<div class="main top-main">
  <%= link_to image_tag('https://github.blog/wp-content/uploads/2008/12/forkme_left_orange_ff7600.png?resize=149%2C149', class: "github_logo"), 'https://github.com/mkakiz/tadakashi_app' %>
  <div class="top-message">
    <div id='app'>
      <transition appear>
        <div v-html="message"></div>
      </transition>
    </div>
    <br>
    <h3>タダカシは無料で貸し借りできるマッチングサイトです。</h3><br>
    <p>
      誰かが使ってない物を、あなたが無料で使うことができます。<br>
      あなたも今使ってないものを投稿してみよう!<br>
    </p>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div id="top_slides">
          <carousel-3d
            :controls-visible="true"
            :clickable="false"
            :autoplay="true"
            :autoplay-timeout="5000"
            :display="3"
            @after-slide-change="onAfterSlideChange" >
            <slide v-for="(data, i) in slideData" :index="i">
              <div class="slide__text">{{ data.text }}</div>
              <%# <img class="top-img" :src="data.image" /> %>
              <img :src="data.src" v-if="data.src">
            </slide>
          </carousel-3d>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-main">
    <b><h2>タダカシとは?</h2></b>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <img class="about-img" src="/gift.jpg">
      </div>
      <div class="col-sm-4" div="wording" align="left">
        <h4>家の中に使ってないものは眠ってませんか？</h4><br>
        <p>
          「あなたが使ってないもの」と、<br>
          「あなたが今使いたいもの」<br>
          を繋げるSNSサービスです。<br>
          タダで貸し借りできる品物を投稿して、他のユーザーとシェアできます。<br>
          他ユーザーが使いたいものがあると、あなたは無料でたくさんの物が使えるようになりますよ。
        </p>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <h2>使い方は？</h2>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="list-box" align="center">
          <p>
            <br>使い方はカンタン！<br>
              1.貸していい物を投稿する<br>
              2.他からのコメントを待つ<br>
              3.渡す場所か郵送先を決定<br><br>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-0">
        </div>
        <div class="col-sm-4">
          <img class="about-img" src="/postexample.jpg">
          <br>
          <img class="about-img" src="/commentexample.jpg">
        </div>
        <div class="col-sm-4">
          <img class="about-img" src="/postexample1.jpg">
          <br>
          <img class="about-img" src="/commentexample1.jpg">
        </div>
        <div class="col-sm-4">
          <img class="about-img" src="/postexample2.jpg">
          <br>
          <img class="about-img" src="/commentexample2.jpg">
        </div>
      </div>
    </div>
    <p>
      注意: 本サービスはサンプルです。<br>
      投稿データは後日削除されますのでご了承ください<br>
    </p>
  </div>

  <script>
    run_app_vue()
    top_slides()
  </script>
</div>

