<div class="main top-main">
  <div class="top-message">
    <div id='app'>
      <transition appear>
        <div v-html="message"></div>

      </transition>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
      el: "#app",
      data: {
        message: '<h2>家にあるもので人と繋がれる</h2><p>タダカシは無料で貸し借りできるマッチングサイトです。<br>あなたが今使ってないものを投稿してみよう!</p>'
      }
      });
    </script>
  </div>
  <img class="about-img" src="/friends.jpg">
</div>
