<div class="main top-main">
  <div class="top-message">
    <div id='app'>
      <transition appear>
        <div v-html="message"></div>
      </transition>
    </div>
    <%= javascript_include_tag 'vue.js' %>
  </div>
  <img class="about-img" src="/friends.jpg">
</div>

