<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_tag("/posts/#{@post.id}/update") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <br/>
          <p>投稿内容</p>
          <textarea name="content"><%= @post.content %></textarea>
          <br/>
          <br/>
          <p>アドレス（郵送先、待ち合わせ場所）</p>
          <input name="address" type="text" value="<%= @post.address %>">
          <br/>
          <button type="submit" class='btn btn-primary' >保存</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
